<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Xeon | OnePage Responsive Theme</title>
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/prettyPhoto.css" rel="stylesheet">
    <link href="/assets/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<section id="services">
        <div class="container">
            <div class="box first">
                <div class="center">
                <h1>Welcome, Fighter</h1>
            </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-home icon-md icon-color1"></i>
                            <a href="/clubs"><h4>Clubs</h4></a>
                            <p>Check out all the Clubs, Gyms & Training center near you. Chosse And compare beetween the best Clubs & and gyms, see prices, ratings & services.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-calendar icon-md icon-color2"></i>
                            <a href="/events"><h4>Events</h4></a>
                            <p>Check out the upcoming events in town, join in and tell people that you are supporting the event by sharing it on Social Sites. </p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-shopping-cart icon-md icon-color3"></i>
                            <a href="/products"><h4>Store</h4></a>
                            <p>Be a real fighter, check out all the Taponomics goddies, choose a product and order it for yourself and your loved ones just by calling us.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-comment icon-md icon-color4"></i>
                            <a href="/forums"><h4>Forum</h4></a>
                            <p>Feeling low, facing problems, don't know whome to share with? Speak it up tell us about it we promise will help and also to keep secrets.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-picture icon-md icon-color5"></i>
                            <a href="/galleries"><h4>Gallery</h4></a>
                            <p>Wanna get inspired! Watch our fights and and have a look at our awesome pictures of evnts, fights, and gyms.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-user icon-md icon-color6"></i>
                            <a href="/users/edit"><h4>My Account</h4></a>
                            <p>Wanna add something new to your profile, or just wanna change your credentials, just click and add your details.</p>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#services-->

