.status {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.forum {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.status p {
	margin: 4px 0;
}

.status.hover {
	background: #CFD2D7;
}

.status .admin {
	display: none;
}

.status.hover .admin {
	display: inline;
}